<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Felipe Cesar">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/index.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Font -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Noto + Sans + JP: wght @ 100; 400; 700 & display = swap "rel =" stylesheet ">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

    <title>Academy - Editar Aluno</title>
</head>
<body>

    <div th:replace="fragmentos/fragmentos :: header"></div>

    <main class="container">

        <h2 style="margin-top: 3%;">+ Alterar Alunos</h2>
        <hr>
        <br>
        <form method="post" action="/editar" th:object="${aluno}" autocomplete="off">

            <input type="hidden" th:field="*{id}">

            <div class="row">
                <div class="col-md-6 form-group offset-md-3">
                    <label for="name" style="font-weight: bold;">Nome do Aluno:</label>
                    <input type="text" class="form-control" name="nome" id="name" placeholder="Ex.: Matheus José" th:field="*{nome}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group offset-md-3">
                    <label for="curso" style="font-weight: bold;">Curso: </label>
                    <select name="curso" class="form-control" id="curso" th:field="*{curso}">
                        <option th:each="curso : ${T(br.com.academy.enums.Curso).values()}" th:value="${curso}" th:text="${curso}">

                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group offset-md-3">
                    <label for="matricula" style="font-weight: bold;">Gerar Matrícula:</label>
                    <input readonly="readonly" type="text" class="form-control" name="matricula" id="matricula"  th:field="*{matricula}">
                    <h5 id="gerarMatricula" class="btn btn-dark" style="margin-top: 1%;">Gerar</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group offset-md-3">
                    <label for="status" style="font-weight: bold;">Status: </label>
                    <select name="status" class="form-control" id="status" th:field="*{status}">
                        <option th:each="status : ${T(br.com.academy.enums.Status).values()}" th:value="${status}" th:text="${status}">

                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group offset-md-3">
                    <label for="turno" style="font-weight: bold;">Turno:</label>
                    <select name="turno" class="form-control" id="turno" th:field="*{turno}">
                        <option th:each="turno : ${T(br.com.academy.enums.Turno).values()}" th:value="${turno}" th:text="${turno}">

                        </option>
                    </select>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 5%;">
                <button type="submit" class="btn btn-success offset-md-5">Salvar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-outline-danger">Voltar</button>
            </div>

        </form>
    </main>


    <div th:replace="fragmentos/fragmentos :: footer"></div>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <!-- MainJS -->
    <script src="javascript/main.js"></script>

</body>
</html>