/* SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 70px;
}
a{
    cursor: pointer;
}

#navMobile a{
    color: white;
    font-weight: lighter;
    transition: .3s;
}

#navMobile a:hover{
    color: #d27de0;
    transition: .3s;
}

.neo-section{
    min-height: 590px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
    width: 100%;
}

.neo-section h1{
    color: white;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.wm{
    width: 50%;
    float: left;
}

.clear{
    clear: both;
}

.center{
    text-align: center;
}

.neo-container{
    max-width: 1280px;
    padding: 2%;
    margin: 0 auto;
    margin-top: 150px;
}

.shadow{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0, 0.8);
    z-index: 100;
}

.neo-section > .neo-container{
    position: relative;
    z-index: 105;
}

.neo-section .btn{
    width: 280px;
    color: white !important;
    border-radius: 10px !important;
    border: 3px solid #a55eea !important;
    padding: 15px !important;
    font-weight: bold !important;
}
.neo-section .btn:hover{
    color: #CE93D8 !important;
    background: rgba(0, 0, 0, 0.5);
}

.buttons{
    padding: 2% 15%;
}

.footer{
    color: white;
    background-color: #4A148C;
    text-align: center;
    padding: 1%;
    font-size: 1.20em;
    font-weight: lighter;
}

.action-form:hover{
    text-decoration: underline;
}

/* Media 667px */
@media screen and (max-width: 667px){

    .wm{
        width: 100%;
    }

    nav{
        height: 100%;
    }

    .neo-container{
        margin-top: 50px;
    }

}