.login-form{
    min-height: 670px;
    background-image: url('/images/wallpaper-bg-body.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-form{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.main-div{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 50%;
    padding: 50px 70px;
}

.form-group{
    margin: 10px !important;
}